@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HELLO_WORLD.Models.Tiempos

@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Hello World / Hola Mundo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>

    </script>
</head>
<body>
    <form id="form1" method="post" action="">
        <font size="45px">Hola Mundo !!!!!!!! </font><br />
        <font size="45px">.Net Core 8 y son las: @Model.tiempo </font>
    </form>
</body>
</html>

